/* Default Color File  */




/* Color */

.main-menu .navigation>li>ul>li>ul>li>a:hover,
.services-details .feature-block-two .inner-box:hover .icon,
.widget_client_review .quote,
.blog-single-post .post-tags a:hover,
.widget_popular_post .content h5 a:hover,
.widget_tag_cloud li a:hover,
.categories-list li a:before,
.categories-list li a:hover,
.filter-tabs li.active,
.contact-section .contact-info-three .content .icon,
.contact-section .contact-info-two .content li i,
.room-dimention ul li i,
.working-process-section.style-two .process-block .icon,
.funfacts-section-three .icon,
.main-header .header-upper .icon-box .icon,
.contact-section-two .contact-info li i,
.project-block-three .content .link i,
.contact-section .bottom-content .contact-info li i,
.pricing-block.active-block .icon,
.pricing-block .price,
.main-menu .navigation>li>ul>li>a:hover,
.news-block-one .category a,
.testimonial-block .quote,
.process-block .count span,
a:hover,
a {
	color: #f4a046;
}

/* Border Color */
.blog-single-post blockquote,
.pagination li a,
.page-title .content-box .bread-crumb li.home a,
.about-us-section-five blockquote,
.about-us-section-three .years,
.feature-block-three .border-one,
.feature-block-three .border-two,
.about-widget .social-links ul li a:hover,
.team-block-one .border-one,
.team-block-one .border-two,
.btn-style-two,
.border-color {
	border-color: #f4a046;
}

/* Background */
.sec-title .sec-title-dec:after,
.sec-title .sec-title-dec:before,
.banner-section .banner-slider-button-prev:hover,
.banner-section .banner-slider-button-next:hover,
.search-popup .search-form fieldset input[type="submit"],
.widget_categories_two .widget-content,
.sidebar-page-container .inner-title:before,
.blog-single-post .list li:before,
.blog-single-post .content .wrapper-box:before,
.blog-single-post .date,
.widget_newsletter,
.widget-title:before,
.news-block-five .date,
.news-block-four .btn-style-one:before,
.news-block-four .date,
.news-block-four .text:before,
.main-menu .navigation>li.current>a:before,
.timeline-block li:after,
.timeline-block h4:before,
.contact-section .contact-info-two .content h2:before,
.page-title .content-box h1:before,
.newsletter-section.style-two:before,
.project-block-two .content h4:before,
.mobile-menu .menu-backdrop,
.about-section-six:before,
.banner-section .content-box-three .inner,
.project-block-five h3:before,
.contact-section-three h3:before,
.funfacts-section-three .count-text:before,
.about-us-section-five .content h4:before,
.main-header.header-style-five .header-top,
.news-block-three .btn-style-one:hover:before,
.news-block-three .date,
.news-block-three h3:before,
.funfacts-four .count-text:before,
.project-block-four .content h4:before,
.process-block-two .count,
.cta-section .outer-box .shape-one:after,
.cta-section .outer-box .shape-one:before,
.cta-section .outer-box:before,
.about-us-section-four .content h4:before,
.newsletter-section-two .btn-style-one:before,
.project-block-three .content h4:before,
.funfacts-section-two .count-text:before,
.service-block-three h4:before,
.contact-section .bottom-content .contact-info li:last-child:before,
.contact-section .bottom-content .contact-info li:first-child:before,
.sec-title .sec-title-dec-two,
.contact-section .theme-btn:before,
.progress-levels .progress-box .bar .bar-fill,
.gallery-block .overlay,
.service-block-two h4:before,
.feature-block-three .inner-box:hover .text:before,
.feature-block-two h4:before,
.banner-section .content-box-two h1:before,
.main-footer .widget-title:before,
.news-block-two .date,
.news-block-one .text:before,
.news-block-one .date,
.feature-block h3:before,
.service-block-one h4:before,
.sec-title .sec-title-dec,
.project-block-one h3:before,
.funfacts-section .count-text:before,
.hidden-sidebar .newsletter-widget .theme-btn,
.banner-section .content-box h1:before,
.btn-style-two:before,
.btn-style-one,
.preloader-close,
.banner-section .btn-style-one.light:before,
.feature-block-two .inner-box:before,
.theme-bg {
    background-color: #f4a046;
}

